@font-face {
    font-family: "iconfont";
    src: url("") format("embedded-opentype"),
url("iconfont-1.woff2") format("woff2"),
url("iconfont-1.woff") format("woff"),
url("iconfont-1.ttf") format("truetype"),
url("") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: iconfont !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-acc-calendar:before {
    content: "\f101";
}
.icon-acc-phone:before {
    content: "\f102";
}
.icon-account:before {
    content: "\f103";
}
.icon-add-account:before {
    content: "\f104";
}
.icon-documents:before {
    content: "\f105";
}
.icon-edit:before {
    content: "\f106";
}
.icon-email:before {
    content: "\f107";
}
.icon-expand-arrow:before {
    content: "\f108";
}
.icon-to-document:before {
    content: "\f109";
}
.icon-visit-history:before {
    content: "\f10a";
}
.icon-work-clock:before {
    content: "\f10b";
}
.icon-work-phone:before {
    content: "\f10c";
}

.icon-menu-tax {
    background-image: url("d92d36019b61c2170d57d68af558885192d21ef4.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;

}
