/*
#333333

Цвета: #9a2ebc

*/
body{
    background-color: #fbfbfb;
}
/* BEGIN /mobile/ac/mobile-booking.css */
.button{
    background: #333333;
    border:2px solid #333333;
}
.button.outline{
    color: #333333;
}
/* END /mobile/ac/mobile-booking.css */
/* BEGIN /mobile/ac/mobile-calendar.css */
.calendar .go-back {
    color: #333333;
    border: 2px solid #333333;
}
/* END /mobile/ac/mobile-calendar.css */
/* BEGIN /mobile/ac/mobile-visit.css */
.visit .month{
    color: #333333}
.visit .month .calendar{
    background-image: url('data:image/svg+xml;utf8,<svg fill="#333333" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width= "31.999px" height= "34.999px" viewBox= "0 0 31.999 34.999" enable-background= "new 0 0 31.999 34.999" xml:space= "preserve" > <g> <rect x= "5" y= "0" width= "3" height= "5" /> <rect x= "23.999" y= "0" width= "3" height= "5" /> <polygon points= "27.999,2 27.999,6 22.999,6 22.999,2 9,2 9,6 3.999,6 3.999,2 0,2 0,10 31.999,10 31.999,2" /><path d= "M0,11.999v23h31.999v-23H0z M9.999,26h-6v-6h6V26z M18.999,26h-6v-6h6V26z M27.999,26h-6v-6h6V26z" /></g></svg>');
}
/* END /mobile/ac/mobile-visit.css */
.organization-title-table{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
    background: #FCFCFC; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e5e5e5 30%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e5e5e5 30%, #e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e5e5e5 30%, #e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.personal-info input:focus,
.personal-info textarea:focus{
    border-color: #333333 !important;
}
.main-content .personal-info .field label,
.service-choice .form-label{
    color: #333333;
}
select:focus,
input:focus{
    border-color: #333333 !important;
}